@font-face {
        font-family: "MangaT";
        src: url("mangat.ttf");
    }

* {     
        box-sizing:border-box;
        padding:0;
        margin:5px;
        font-family: 'Segoe UI';
    }

#contenedor {
        width:100%;
        height:100%;
    }
    
/******* PONER VUESTROS ESTILOS A PARTIR DE AQUI *******/


body {
    min-width: 550px;
}
#logo {
    position: absolute;
    width: 80px;
    height: 80px;
}
#nombre {
    position: relative;
    justify-self: center;
    text-align: center;
    top: 10px;
}
#nombre h3 {
    font-family: MangaT;
    font-size: 2.2em;
    font-weight: normal;
}
#nombre h4 {
    background-color: pink;
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 3px;
    padding-right: 20px;
    padding-left: 3px;
    padding-bottom: 3px;
}
#menuPrincipal li, #menuH td, #menuIzq td {
    cursor: pointer;
}
#menuPrincipal {
    display: flex;
}
#menuPrincipal ul {
    margin-top: 20px;
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
}
#menuPrincipal li {
    padding: 5px;
    flex-flow: row wrap;
    gap: 10px;
}
#menuPrincipal li:hover {
    background-color: pink;
    color: white;
}
#menuH td {
    display: inline-flex;
    border: 1px solid gray;
    padding: 3px;
    background-color: pink;
    margin-right: 0px;
}
#menuH td:hover, #menuIzq td:hover {
    color: white;
}
#menuIzq {
    float: left;
}
#menuIzq table {
    border-collapse: collapse;
}
#menuIzq td {
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
    background-color: pink;
    font-size: large;
}
.ficha {
    border: 1px solid gray;
}
.ficha > img {
    width: 200px;
    height: 250px;
}
.ficha h6 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}
.ficha p {
    margin: 10px;
}
p img {
    position: relative;
    margin: 0;
    top: 10px;
}
.IG {
    position: relative;
}
#menuPrincipal .IG {
    top: 1px;
}
#pie .IG {
    top: 5px;
}
#pie {
    clear: both;
    background-color: pink;
}
.pieIzq {
    float: left;
    width: 48%;
}
.pieDer {
    float: right;
    width: 48%;
}
.clear {
    clear: both;
}
@media (min-width: 961px) {
    #menuH {
        display: none;
    }
    #contenido {
        display: flex;
        flex-direction: column;
        flex-flow: row wrap;
    }
}
@media (min-width: 646px) and (max-width: 960px) {
    #menuH {
        display: none;
    }
    #contenido {
        width: 70%;
        float: left;
    }
    .ficha {
        float:left;
    }
    
}
@media (max-width: 645px){
    #menuIzq {
        display: none;
    }
    #menuPrincipal {
        width: 90%;
        justify-content: center;
    }
    #menuH {
        width: 80%;
        justify-self: center;
    }
    #contenido {
        float: left;
        width: 88%;
    }
    .ficha {
        float: left;
    }
}