body {
    background-color: rgb(212, 212, 212);
    text-align: center;
    font-family: Helvetica;
}
#formulario {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.archivo {
    border: 2px dashed black;
    padding: 3px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 10px;
}
#comprobar {
    background-color: rgb(0, 255, 0);
    padding: 20px;
    font-size: 1.5em;
    border-radius: 10px;
    border: none;
    box-shadow:  1px 1px gray inset, 2px 2px black;
}