 h2 {
     text-align: center;
     background-color: #CCC;
     color: blue;
 }

 span {
     text-decoration: underline;
 }

 #caja1,
 #caja2,
 #caja3,
 #caja4 {
     text-align: center;
     border: 10px solid pink;
     background-color: lightblue;
     color: black;
     width: 125px;
     height: 50px;
     padding-top: 25px;
     font-weight: bolder;
 }