* {
    text-align: center;
    font-family: Helvetica;
}

table, th, td{
    border: 2px solid orange;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}
th {
    background-color: aliceblue;
}
td:hover {
    background-color: black;
    color: white;
}
.editar {
    color: blue; cursor:pointer;
}
.editar:hover {
    color: red;
}