body {
    background-color: rgb(250, 223, 174);
    font-family: Helvetica;
}
#contenido-informatica {
  background-color: #ffc06e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

#frase-increible {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
}

#ver-mas-boton {
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#ver-mas-boton:hover {
  background-color: #382000;
}