div{
    border:1px solid black;
    padding:1em;
    position:fixed;
    top:20px;
    width:200px;
    height:100px;
}
#capa1{
    left:50px;
}
#capa2{
    left:400px;
}
#In1, #In2{
    margin: 200px 100px;
}
#mc {
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    background-color: orange;
}