body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}

#contenedor {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap: 20px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.ficha {
    display: flexbox;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    width: 220px;
    padding: 15px;
}
img {
    border-radius: 10px;
    width: 100%;
}
button {
    background-color: lightskyblue;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: white;
}
button:hover {
    background-color: darkblue;
    cursor: pointer;
}